node_modules/
.env
package-lock.json

Personally I was able to complete all the tasks in time.

There were some duplicate tickets and because of the duplication developers were confused about which t.
